@use 'variables' as *;

#app {
  .btn {
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    padding: 15px 25px;
    &:hover {
      background-color: transparent;
    }
    &:focus {
      outline: none;
    }
  }

  .btn-white {
    color: $black;
    fill: $black;
    background-color: $white;
    border: 1px solid $white;
    &:hover {
      color: $white;
      fill: $white;
    }
  }

  .btn-black {
    color: $white;
    fill: $black;
    background-color: $black;
    border: 1px solid $black;
    &:hover {
      color: $black;
      fill: $black;
    }
  }

  .arrow {
    transform: translate(0px, 2px);
  }
}
