@use 'variables' as *;

#app {
  #menu-custom {
    font-weight: 200;
    a {
      text-decoration: none;
    }
  }

  .menu-item {
    font-size: 1.2rem;
    padding: 15px;
    position: relative;
    &.active {
      border-bottom: 2px solid $blue;
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 0px;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: $blue;
      transform: scale3d(0, 1, 1);
      transform-origin: 50% 50%;
      transition: ease 0.3s;
    }
    &:hover:after {
      transform: scale3d(1, 1, 1);
    }
  }

  /**
  * Mobile Menu
  */
  #mobile-menu {
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 99;
    a {
      margin: 20px 0;
      font-size: 2rem;
      font-weight: 200;
      text-align: center;
      text-decoration: none;
    }
    .mobile-menu-body{
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $black;
      z-index: 5;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s;
      &.show {
        width: 100% !important;
      }
    }
    .menu-btn{
      position: absolute;
      right: 5px;
      top: 30px;
      margin: 0;
      padding: 15px;
      border: 0;
      outline: 0;
      background-color: transparent;
      z-index: 10;
      .menu-title {
        visibility: hidden;
        display: none;
      }
      .menu-box {
        display: inline-block;
        width: 30px;
        height: 30px;
        span {
          position: relative;
          display: block;
          width: 100%;
          height: 4px;
          margin: 6px 0;
          background-color: $white;
          border-radius: 5px;
          opacity: 1;
          transition: all 0.5s ease;
          transform-origin: 5px 0px;
          box-shadow: 0px 0px 25px $black;
        }
      }
      &.open .menu-box {
        span:nth-child(1) {
          transform: rotate(45deg) translate(3px, 0);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform: rotate(-45deg) translate(2px, -3px);
        }
      }
    }
  }
}
