@use 'variables' as *;

#app {
  /**
  * Home Page
  */
  .home-title {
    height: 80vh;
    overflow: hidden;
    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }

  /**
  * Work
  */
  #work {
    .work-item {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 0 auto;
      padding: 46px;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background-color: rgba(255,255,255,0.9);
      -webkit-transition: ease-in-out 0.2s;
      transition: ease-in-out 0.2s;
      &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        box-shadow: 0 0 30px rgba(255,255,255,0.7);
      }
    }
  }

  /** Slider **/
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide {
    text-align: center;
    margin-bottom: 25px;
  }
  @media only screen and (min-width: 767px) {
    .swiper-slide .img-fluid {
      max-width: 90%;
      max-height: 90%;
    }
  }

  .swiper-button-prev, .swiper-button-next {
    color: $white;
  }
  .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 1.5rem;
    text-shadow: 2px 2px 10px $black;
  }
  .swiper-pagination-bullet {
    background-color: $white;
    opacity: 0.7;
  }
  .swiper-pagination-bullet-active {
    background-color: $blue;
  }

  /**
  * About
  */
  .about-photo {
    border-radius: 15px;
  }
  .timeline::-webkit-scrollbar {
    display: none;
  }

  /** Timeline **/
  .timeline {
    position: relative;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &:after {
      content: "";
      position: absolute;
      width: 1px;
      background-color: $white;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -1px;
      z-index: -1;
    }
    @media only screen and (min-width: 769px) {
      &:after {
        left: 24%;
      }
    }
    .timeline-item {
      padding: 25px 0;
      .timeline-year {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        margin: auto;
        background-color: #ffffff;
        color: #202328;
        text-align: center;
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.5rem;
        span {
          font-size: 1rem;
          line-height: 2rem;
        }
      }
      .timeline-description {
        height: 100%;
        @media only screen and (max-width: 768px) {
          margin: 30px 0;
          text-align: center;
          div {
            width: 100%;
            padding: 15px 0;
            background-color: $black;
          }
        }
      }
    }
  }

  /**
  * Skills
  */
  .svg-pi-wrapper {
    position: relative;
  }

  .svg-pi {
    transform: rotate(-90deg); /* Fix the orientation */
  }

  /* Animated spinner version */
  .svg-pi-indicator--spinner {
    animation: spinner .75s linear infinite;
    transform-origin: center;
  }

  .svg-pi-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .svg-pi-label__loading {
    opacity: .5;
    font-size: 0.75em;
  }

  .svg-pi-label__progress {
    font-size: 1.5em;
    font-weight: 700;
  }

  .svg-pi-label__loading,
  .svg-pi-label__progress {
    display: block;
  }

  /* Spinner animation */
  @keyframes spinner {
    0% {
      transform: rotate(0)
    }
    100% {
      transform: rotate(360deg)
    }
  }

  .CircularProgressbar-trail {
    stroke: $gray;
    transform: rotate(0.625turn);
    transform-origin: center center;
    stroke-dasharray: 290px, 290px;
    stroke-dashoffset: 72px;
    stroke-linecap: round;
  }

  .CircularProgressbar-path {
    stroke: $white;
    transform: rotate(0.625turn);
    transform-origin: center center;
    stroke-dasharray: 290px, 290px;
    stroke-linecap: round;
  }
  .CircularProgressbar-text {
    fill: $white;
    font-size: 20px;
    text-anchor: middle;
  }

  .CircularProgressbar .CircularProgressbar-path {
    transition: stroke-dashoffset 1.5s ease 0s;
  }
}
