@use 'variables' as *;

#app {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 36px;
  color: $white;

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h5 {
    font-size: 1rem;
    line-height: 1rem;
  }
  h6 {
    font-size: .75rem;
    line-height: .75rem;
  }

  h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
  }

  small {
    font-size: .75rem;
    line-height: 1rem;
  }

  @media only screen and (min-width: 600px) {
    .title-home {
      font-size: 5rem;
      line-height: 6rem;
    }
    .vertical {
      font-size: 4.2rem;
    }
  }
  @media only screen and (max-width: 600px) {
    .title-home {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }

  .devicon {
    text-align: center;
    i {
      font-size: 3.5rem;
      display: block;
    }
    span {
      font-size: 0.75rem;
    }
  }
}
