@use 'sass:math';
@use 'sass:string';
@use 'variables' as *;
@use 'animation' as *;
@use 'components' as *;
@use 'navigation' as *;
@use 'pages' as *;
@use 'typography' as *;

/*
 * GLOBAL SETTINGS
 */
body {
  margin: 0;
  padding: 0;
  background-color: $black;
}

#app {
  a {
    color: $white;
    text-decoration: underline;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    &:hover {
      color: $gray;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 25px;
  }

  hr {
    border-bottom: 2px solid $white;
    margin: 15px 0;
  }

  footer hr {
    border-bottom: 1px solid $white;
    opacity: 0.1;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 30px;
    li {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        display: inline-block;
        top: 10px;
        left: -30px;
        height: 20px;
        width: 20px;
        margin-right: 15px;
        background-image: url('/img/check.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  .logo {
    max-width: 255px;
    width: 100%;
  }
  @media only screen and (max-width: 320px) {
    .logo {
      max-width: 200px;
      margin-top: 5px;
    }
  }

  .contact-form {
    font-size: 18px;
  }

  .vertical {
    margin: 0;
    @media only screen and (min-width: 600px) {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
    }
  }

  .outline {
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: 2px $white;
  }

  .img-fluid {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  /**
  * Stars
  */
  // n is number of stars required
  @function multiple-box-shadow ($total_stars) {
    $random: 2200;
    $value: '#{math.random($random)}px #{math.random($random)}px #FFF';

    @for $i from 2 through $total_stars {
      $value: '#{$value} , #{math.random($random)}px #{math.random($random)}px #FFF';
    }

    @return string.unquote($value);
  }

  .stars {
    position: fixed;
    background: transparent;
    z-index: -1;
  }

  #stars-sm {
    width: 1px;
    height: 1px;
    box-shadow: multiple-box-shadow(500);
    animation: animateStars 100s linear infinite;
  }

  #stars-md {
    width: 2px;
    height: 2px;
    box-shadow: multiple-box-shadow(200);
    animation: animateStars 200s linear infinite;
  }

  #stars-lg {
    width: 3px;
    height: 3px;
    box-shadow: multiple-box-shadow(100);
    animation: animateStars 300s linear infinite;
  }

  #moon {
    position: fixed;
    top: 70vh;
    left: 50%;
    height: 700px;
    width: 700px;
    margin-left: -350px;
    background-image: url('/img/moon.svg');
    background-size: 700px 700px;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }

  #astronaut {
    position: fixed;
    width: 50px;
    top: 50%;
    left: 0;
    z-index: -1;
  }

  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
  }
  @media only screen and (max-width: 768px) {
    .fixed {
      top: 30%;
      transform: scale(1.5);
    }
  }
}